option_settings:
- namespace: was:elasticbeanstalk:application:environment
 option_name:DB_HOST
 value:awsdb.cakgz3f2n9nc.ap-southeast-2.rds.amazonaws.com
- option_name:DB_PORT
 value:3306
- option_name:DB_NAME
 value:jobhorizon
- option_name:DB_USER
 value:awsuser
- option_name:DB_PASS
 value:awspassword
